@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,500&display=swap');

*{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
}
.Page1{
    height: 100vh;
    width: 100vw;
    color:white;
    background-image: url("./netflix_background.png");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.486);
}
.top-bar{
    background-color: rgba(7, 0, 0, 0.404);
    height: 95px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icon{
    margin-top: 5px;
    margin-left: 37px;
    height: 115px;
}
.language{
    border: white 1px solid;
    border-radius: 2px;
    padding-left: 7px;
    margin-right: 35px;
    height: 35px;
    width: 95px;
    background-color: rgba(0, 0, 0, 0.281);
}
.top-buttons{
    display: flex;
    margin-right: 80px;
}
.lang-section{
    color: white;
    background-color: rgba(0, 0, 0, 0);
    height: 34px;
    border: none;
}
.sign-in{
    height: 35px;
    width: 80px;
    color: white;
    font-weight: bold;
    background-color: red;
    border: red;
    border-radius: 3px;
    cursor: pointer;
}
.Mid{
    height: auto;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center
}
.boldtext{
    font-size: 65px;
    text-align: center;
    margin-top: 130px;
}
.midtext{
    text-align: center;
    margin-top: 10px;
}
.midtext2{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}
.email-section{
    height: auto;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}
.email{
    display: flex;
}
.email-text{
    height: 70px;
    width: 500px;
    padding-left: 20px;
    font-size: 15px;
    border-radius: 0;
    border: white;
}
.get-start{
    height: 70px;
    width: 230px;
    color: white;
    font-size: 25px;
    font-weight: bold;
    background-color: red;
    border: red;
    border-radius: 0;
    cursor: pointer;
}
.Page2{
    height: 65vh;
    width: 100vw;
    display: flex;
    color: white;
    background-color: black;
    justify-content: space-around;
    align-items: center;
    border-top: 8px rgb(71, 71, 71) solid;
    border-bottom: 8px rgb(71, 71, 71) solid;
}
.title{
    font-size: 50px;
    margin-bottom: 20px;
    margin-left: 70px;
}
.title1{
    font-size: 20px;
    margin-left: 70px;
}
.tv{
    height: auto;
    width: 87%;
    position: relative;
    z-index:1;
}
.back-img{
    position: absolute;
    margin-top: 88px;
    margin-left: 72px;
    background-image: url(./MoneyHeist.jpg);
    background-size: 412px;
    background-repeat: no-repeat;
    height: 300px;
    width: 500px;
}
.Page3{
    height: 65vh;
    width: 100vw;
    display: flex;
    color: white;
    background-color: black;
    justify-content: center;
    align-items: center;
    border-bottom: 8px rgb(71, 71, 71) solid;
}
.title2{
    font-size: 50px;
    margin-bottom: 20px;
}
.title3{
    font-size: 20px;
}
.mobile{
    height: auto;
    width: 75%;
}
.Page4{
    height: 72vh;
    width: 100vw;
    display: flex;
    color: white;
    background-color: black;
    justify-content: center;
    align-items: center;
    border-bottom: 8px rgb(71, 71, 71) solid;
}
.title4{
    font-size: 50px;
    margin-bottom: 20px;
    margin-left: 70px;
}
.title5{
    font-size: 20px;
    margin-left: 70px;
}
.all-devices{
    height: auto;
    width: 90%;
    margin-left: 70px;
    position: relative;
    z-index:1;
}
.back-img2{
    position: absolute;
    margin-top: 52px;
    margin-left: 185px;
    background-image: url(./MoneyHeist.jpg);
    background-size: 400px;
    background-repeat: no-repeat;
    height: 300px;
    width: 500px;
}
.Page5{
    height: 72vh;
    width: 100vw;
    display: flex;
    color: white;
    background-color: black;
    justify-content: center;
    align-items: center;
    border-bottom: 8px rgb(71, 71, 71) solid;
}
.title6{
    font-size: 50px;
    margin-bottom: 20px;
    margin-left: 20px;
}
.title7{
    font-size: 20px;
    margin-left: 20px;
}
.child{
    height: auto;
    width: 80%;
    margin-left: 70px;
}
.Page6{
    height: 100vh;
    width: 100vw;
    padding-top: 50px;
    display: flex;
    color: white;
    padding-bottom: 100px;
    background-color: black;
    flex-direction: column;
    border-bottom: 8px rgb(71, 71, 71) solid;
}
.title8{
    font-size: 50px;
    text-align: center;
}
.faq-list-item{
    list-style-type: none;
    margin: 0 0 8px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Q1{
    cursor: pointer;
    font-size: 1.50rem;
    font-weight: 400;
    height: 70px;
    width: 50%;
    border: none;
    margin-top: 40px;
    text-align: start;
    padding-left: 30px;
    color: white;
    background-color: rgba(73, 73, 73, 0.89);
}
.Q2,.Q3,.Q4,.Q5,.Q6{
    cursor: pointer;
    font-size: 1.50rem;
    font-weight: 400;
    height: 70px;
    width: 50%;
    border: none;
    margin-top: 2px;
    text-align: start;
    padding-left: 30px;
    color: white;
    background-color: rgba(73, 73, 73, 0.89);
}
.email-section2{
    height: auto;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Page7{
    height: 50vh;
    width: 100vw;
    display: flex;
    padding-top: 40px;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    color: white;
    background-color: black;
}
.info{
    height: 150px;
    width: 900px;
    display: flex;
    padding: 30px;
    margin-top:-25px;
    justify-content: space-between;
}
.margin{
    display: flex;
    height: 50px;
    width: 900px;
}
.query{
    text-align: left;
    margin: 10px;
    text-align: left;
}
.footer-div{
    height: 120px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    cursor: pointer;
}
.language1{
    border: white 1px solid;
    border-radius: 2px;
    padding-left: 7px;
    margin-right: 35px;
    height: 35px;
    width: 95px;
    background-color: rgba(0, 0, 0, 0.281);
}